@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["aluno"]</p>

<address>
    <strong>Contato:</strong>
    <a href="https://www.linkedin.com/in/dmartins21/">Linkediln</a>
</address>